.app-section {
    padding-top: 188px;
    padding-bottom: 140px;
    background-color: var(--color-app-section-background);
    text-align: center;
    background-image: url("../../../../images/background/bckgPhone12AppSection.png");
    background-position: -80px 80px;
    background-repeat: no-repeat;
    background-size: 1720px 1180px;
}

/*.app-section__background {*/
/*    background-image: url("../../../../images/background/bckgPhone12AppSection.png");*/
/*    background-position: -200px 80px;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 1720px 1180px;*/
/*}*/

.app-section__heading {
    margin-bottom: 20px;
    position: relative;
    font: var(--font-h1);
    letter-spacing: -0.02em;
}

.app-section__heading:before {
    content: 'beta';
    padding: 2px 5px;
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    font: var(--font-caption-bold);
    letter-spacing: 0;
    color: var(--color-app-section-heading-before-text);
    border: 1px solid var(--color-app-section-heading-before-border);
    border-radius: var(--border-radius-small);
    text-transform: uppercase;
}

.app-section__subheading {
    margin-bottom: 140px;
    color: var(--color-app-section-subheading);
    font: var(--font-h3);
    line-height: 1.6;
    font-weight: 500;
}

.app-section__button {
    margin-bottom: 24px;
    position: relative;
}

.app-section__button:before {
    --episodes-before-size: 120px;
    content: '';
    width: var(--episodes-before-size);
    height: var(--episodes-before-size);
    top: -70px;
    right: -70px;
    pointer-events: none;
    position: absolute;
    background-image: url("../../../../../assets/images/background/bckgEpisodesSection.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
}

.app-section__platforms {
    font: var(--font-caption-medium);
    color: var(--color-app-section-platform-text);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-section__platforms-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}