.title-section__featured {
    position: absolute;
    bottom: -119px;
    z-index: 11;
    display: flex;
    gap: 20px;
}

.featured {
    --featured-item-width: 373px;
    --featured-item-height: 235px;
    width: var(--featured-item-width);
    height: var(--featured-item-height);
    /*padding: 57px 92px;*/
    text-align: center;
    border: 2px solid var(--color-black);
    border-radius: var(--border-radius);
    box-shadow: 6px 6px 0 var(--color-vermillion);
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.featured:last-of-type::before {
    content: '';
    top: 56px;
    right: -141px;
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url("../../../../../assets/images/illustration/Vector4.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    pointer-events: none;
    z-index: 11;
}

.featured__content {
    /*--featured-item-width: 185px;*/
    /*--featured-item-height: 117px;*/
    /*width: var(--featured-item-width);*/
    /*height: var(--featured-item-height);*/
    display: grid;
    /*align-items: center;*/
    gap: 20px;
}

.featured__heading {
    font: var(--font-h1);
    letter-spacing: -0.02em;
    color: var(--color-vermillion);
}

.featured__accent {
    color: var(--color-black);
}

.featured__text {
    font: var(--font-body-medium);
    color: var(--color-davys-grey);
}