:root {
    --border-radius: 8px;

    --border-radius-small: 4px;

    --border-radius-large: 12px;

    --border-radium-image: 50%;

    --border-landing-platforms: 2px solid var(--color-davys-grey);
}