:root {
    --color-white: #ffffff;
    --color-antiflash-white: #f0f0f0;
    --color-black: #000000;
    --color-black-transparent: rgba(0, 0, 0, 0.25);
    --color-black-transparent-dark: rgba(0, 0, 0, 0.4);
    --color-davys-grey: #4D4D4D;
    --color-chinese-silver: #ccc;
    --color-pewter-blue: #81ADC8;
    --color-vermillion: #CD4631;
    --color-champagne: #F7EDE8;
    --color-alice-blue: #EDF3F7;

    /*global*/
    --color-link-hover: var(--color-vermillion);
    --color-background-default: var(--color-white);

    /*button*/
    --color-button-text: var(--color-white);
    --color-button-background: var(--color-black);
    --color-button-shadow: var(--color-black-transparent);
    --color-button-hover-text: var(--color-white);
    --color-button-hover-background: var(--color-vermillion);

    --color-button-alternate-text: var(--color-black);
    --color-button-alternate-border: var(--color-black);
    --color-button-alternate-hover-text: var(--color-vermillion);
    --color-button-alternate-hover-border: var(--color-vermillion);

    --color-button--custom-background: var(--color-champagne);

    /*testimonial*/
    --color-testimonial: var(--color-white);

    /*scroll*/
    --color-scroll-hover: var(--color-vermillion);

    /*icons*/

    --color-icon-mini-logo: var(--color-white);
    --color-icon-mini-logo-alternate: var(--color-black);

    /*header*/
    --color-header-background: var(--color-champagne);
    --color-header-navigation-text: var(--color-black);

    --color-header-dropdown-trigger-background-color: var(--color-black);
    --color-header-dropdown-trigger-background-color-hover: var(--color-vermillion);
    --color-header-dropdown-background: var(--color-white);
    --color-header-dropdown-border: var(--color-chinese-silver);
    --color-header-dropdown-shadow: var(--color-black-transparent-dark);
    --color-header-dropdown-text: var(--color-black);
    --color-header-dropdown-background-hover: var(--color-antiflash-white);

    /*footer*/
    --color-footer-general-text: var(--color-davys-grey);
    --color-footer-general-background: var(--color-white);
    --color-footer-general-border: var(--color-davys-grey);

    --color-footnote-general-border: var(--color-davys-grey);

    --color-footer-menu-text: var(--color-black);

    /*main-section*/
    --color-main-landing-background: var(--color-champagne);

    --color-main-heading-text: var(--color-black);
    --color-main-heading-text-accent: var(--color-vermillion);
    --color-main-section-description: var(--color-davys-grey);

    /*title-section*/
    --color-cover-heading-text: var(--color-pewter-blue);

    --color-about-quote-box: var(--color-champagne);
    --color-about-quote-mark: var(--color-vermillion);

    /*testimonials-section*/
    --color-testimonials-background: var(--color-alice-blue);
    --color-testimonials-text: var(--color-davys-grey);

    /*episodes-section*/
    --color-episodes-section-background: var(--color-champagne);
    --color-episodes-section-subheading: var(--color-davys-grey);

    --color-episodes-section-item-background: var(--color-white);
    --color-episodes-section-item-border: var(--color-black);
    --color-episodes-item-shadow: var(--color-pewter-blue);

    --color-episodes-title-heading: var(--color-black);
    --color-episodes-title-heading-hover: var(--color-vermillion);
    --color-episodes-title-text: var(--color-davys-grey);
    --color-episodes-title-text-border: var(--color-davys-grey);
    --color-episodes-title-number: var(--color-vermillion);

    --color-episodes-section-tag-border: var(--color-davys-grey);

    --color-episodes-section-footer-text: var(--color-davys-grey);
    --color-episodes-section-hosts-images-border: var(--color-white);

    /*price-section*/
    --color-price-section-subheading: var(--color-davys-grey);

    --color-price-section-offer-price-border: var(--color-black);
    --color-price-section-offer-price-border-popular: var(--color-vermillion);
    --color-price-section-offer-price-background: var(--color-white);
    --color-price-section-offer-price-background-popular: var(--color-champagne);
    --color-price-section-offer-benefits-border: var(--color-black);
    --color-price-section-offer-benefits-border-popular: var(--color-vermillion);
    --color-price-section-offer-benefits-background: var(--color-white);
    --color-price-section-offer-benefits-background-popular: var(--color-champagne);

    --color-price-section-heading-popular-before-background: var(--color-vermillion);
    --color-price-section-heading-popular-before-text: var(--color-white);

    --color-price-section-heading-text: var(--color-davys-grey);
    --color-price-section-subscription-value-text: var(--color-vermillion);
    --color-price-section-subscription-value-accent-text: var(--color-davys-grey);
    --color-price-section-benefit-text: var(--color-davys-grey);

    /*blog-section*/
    --color-blog-section-subheading: var(--color-davys-grey);

    --color-blog-section-card-background: var(--color-white);
    --color-blog-section-card-border: var(--color-black);
    --color-blog-section-card-shadow: var(--color-black);

    --color-blog-section-title-name: var(--color-davys-grey);
    --color-blog-section-title-heading: var(--color-black);
    --color-blog-section-title-heading-hover: var(--color-vermillion);
    --color-blog-section-title-text: var(--color-davys-grey);

    --color-blog-section-footnote-text: var(--color-davys-grey);
    --color-blog-section-footnote-border: var(--color-davys-grey);
    --color-blog-section-footnote-tag-border: var(--color-davys-grey);

    /*app-section*/
    --color-app-section-background: var(--color-alice-blue);

    --color-app-section-heading-before-text: var(--color-vermillion);
    --color-app-section-heading-before-border: var(--color-vermillion);
    --color-app-section-subheading: var(--color-davys-grey);

    --color-app-section-platform-text: var(--color-davys-grey);

    /*adout-page title-section*/
    --color-title-section-background: var(--color-champagne);

    --color-title-section-heading: var(--color-black);
    --color-title-section-heading-accent: var(--color-vermillion);
    --color-title-section-description: var(--color-davys-grey);

    --color-title-section-featured-backfround: var(--color-white);
    --color-title-section-featured-border: var(--color-black);
    --color-title-section-featured-shadow: var(--color-vermillion);
    --color-title-section-featured-heading: var(--color-vermillion);
    --color-title-section-featured-accent: var(--color-black);
    --color-title-section-featured-text: var(--color-davys-grey);

    /*adout-page info-section*/
    --color-info-section-heading: var(--color-black);
    --color-info-section-description: var(--color-davys-grey);

    --color-history-section-heading: var(--color-black);
    --color-history-section-text: var(--color-davys-grey);
    --color-history-section-text-highlights: var(--color-black);
    --color-history-section-text-link: var(--color-black);

    --color-hosts-section-border: var(--color-davys-grey);
    --color-hosts-section-heading: var(--color-black);
    --color-hosts-section-card-border: var(--color-black);
    --color-hosts-section-card-shadow: var(--color-black);
    --color-host-card-description: var(--color-davys-grey);
    --color-host-card-footer-border: var(--color-davys-grey);
    --color-host-card-available: var(--color-davys-grey);

    /*sponsor-section*/
    --color-sponsor-section-background: var(--color-champagne);
    --color-sponsor-section-subheading: var(--color-davys-grey);

    --color-sponsor-section-scroll-item-background: var(--color-white);
    --color-sponsor-section-scroll-item-border: var(--color-black);

    --color-sponsor-logo-border: var(--color-davys-grey);
    --color-sponsor-description: var(--color-davys-grey);
    --color-sponsor-description-highlights: var(--color-black);

    /*contact-section*/
    --color-contact-section-heading: var(--color-black);
    --color-contact-section-subheading: var(--color-davys-grey);
    --color-contact-section-form-border: var(--color-davys-grey);

    --color-form-field-required-form-label-after: var(--color-vermillion);
    --color-form-footer-required-form-required: var(--color-vermillion);
    --color-form-required: var(--color-black);
    --color-form-note: var(--color-black);
    --color-form-link: var(--color-black);
    --color-input-border: var(--color-black);
    --color-input: var(--color-black);
    --color-input-caret: var(--color-black);
    --color-input-hover: var(--color-vermillion);
    --color-input-focus-visible-border: var(--color-pewter-blue);
    --color-input-focus-visible-outline: var(--color-pewter-blue);
    --color-input-placeholder: var(--color-davys-grey);
}