.landing-background__hero-shape-swirl {
    position: absolute;
    top: -52px;
    left: -444px;
    width: 630px;
    height: 592px;
    background-image: url("../../../../images/background/heroShapeSwirl.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.landing-background__three-stars {
    position: absolute;
    top: 113px;
    right: -80px;
    width: 155px;
    height: 216px;
    background-image: url("../../../../../assets/images/background/threeStarsMainPage.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -0;
}