.landing__covers {
    position: relative;
    width: 1160px;
}

.landing-covers__list {
    display: flex;
    gap: 20px;
    position: relative;
    margin-left: -393px;
}

.landing-covers__item {
    line-height: 0;
}