.landing__heading {
    font: var(--font-body-medium);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading__text {
    margin: 40px 0;

    font: var(--font-heading);
    letter-spacing: -0.04em;
    line-height: 1;

    display: flex;
    flex-direction: column;

}

.heading__text-black {
    color: var(--color-main-heading-text-black);
}

.heading__text-vermillion {
    color: var(--color-main-heading-text-vermillion);
}