.landing-platforms {
    margin: 120px 0 140px 0;
    padding: 20px 0;

    font: var(--font-h3);
    letter-spacing: -0.02em;

    display: flex;
    align-items: center;

    border-top: 1px solid var(--color-davys-grey);
    border-bottom: 1px solid var(--color-davys-grey);
}

.landing-platforms__list {
    display: flex;
    gap: 20px;
    line-height: 0;
    margin-left: 131px;
}

.landing-spotify {
    padding: 25px 73px;
    /*или лучше ширина и высота*/
}

.landing-googlepodcasts {
    padding: 24px 39px;
}

.landing-youtube {
    padding: 28px 75px;
}