.grid {
    display: grid;
}

.grid.-header {
    margin-top: 24px;
    margin-bottom: 24px;
    grid-template-columns: min-content max-content 1fr min-content;
    position: relative;
}

.grid.-footer {
    grid-template-rows: min-content min-content;
    align-items: start;
    position: relative;
}