.dropdown-trigger {
    cursor: pointer;
}

.dropdown-trigger::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    /*background: url("../../../images/arrow_down/Arrow - Down.svg") no-repeat center;*/
    -webkit-mask: url("../../../images/arrow_down/Arrow - Down.svg") no-repeat center; /* Новая опция */
    mask: url("../../../images/arrow_down/Arrow - Down.svg") no-repeat center; /* Новая опция */
    background-color: var(--color-header-dropdown-trigger-background-color);
    width: 16px;
    height: 16px;
    cursor: pointer; /* Новая опция */
    transition: background-color var(--transition-duration); /* Новая опция */
}

.dropdown-trigger:hover::after {
    background-color: var(--color-header-dropdown-trigger-background-color-hover);
}

.dropdown-menu {
    /*display: none;*/
    opacity: 0; /* Начальное состояние: прозрачное */
    transform: translateY(-10px); /* Сдвиг вверх */
    /*visibility: hidden; !* Скрытие элемента визуально и для фокуса *!*/
    position: absolute;
    top: 65px;
    z-index: 10;
    background-color: var(--color-header-dropdown-background);
    border: 1px solid var(--color-header-dropdown-border);
    border-radius: var(--border-radius-small);
    box-shadow: 0 10px 10px var(--color-header-dropdown-shadow);
    transition: opacity var(--transition-duration), transform var(--transition-duration); /* Плавные переходы */
}

.dropdown-trigger:hover .dropdown-menu {
    /*display: block;*/
    opacity: 1; /* Делает видимым */
    transform: translateY(0); /* Возвращает в исходное положение */
    visibility: visible; /* Дает возможность фокусировки */
}

.dropdown-menu__link {
    padding: 6px 25px 6px 15px;
    display: flex;
    align-items: center;
    font: var(--font-body-medium);
    color: var(--color-header-dropdown-text);
    transition: background-color var(--transition-duration); /* Новая опция */
}

.dropdown-menu__link:hover {
    background-color: var(--color-header-dropdown-background-hover);
}