.main-header {
    padding: 24px 140px;
    background-color: var(--color-champagne);
    margin-bottom: 74px;
}

.main-navigation {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content 1fr max-content;
    position: relative;
}

.main-header-logo {
    justify-self: center;
}

.site-navigation {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    list-style: none;
    color: var(--color-black);
    padding-left: 123px;
    padding-right: 304px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button-list {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    text-align: center;
}

.button-episodes {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);
    background: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px var(--color-black) solid;
    border-radius: 8px;
    padding: 10px 22px;
}

.button-episodes-li {
    margin-right: 10px;
}

.button-subscribe-li {
    margin-left: 10px;
}

.button-subscribe {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background: var(--color-black);
    box-shadow: 3px 3px 0 var(--color-black-transparent);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
}

.button-subscribe:hover {
    background: var(--color-black);
    position: relative;
    top: 1px;
}