.features-section__benefits {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 80px;
    width: 100%;
}

.features-section__benefit {
    font: var(--font-body-medium);
}

.benefit__image {
    margin-bottom: 21px;
}

.benefit__heading {
    margin-bottom: 10px;
    font: var(--font-h3);
    letter-spacing: -0.02em;
}