.features-section__figures {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 80px;
    width: 100%;
}

.features-section__figure {
    font: var(--font-body-medium);
}

.features-section__figure-img {
    margin-bottom: 30px;
}

.figure-heading {
    margin-bottom: 10px;
    font: var(--font-h3);
    letter-spacing: -0.02em;
}