.footnote__copyright {
    font: var(--font-small-medium)
}

.footnote__terms {
    font: var(--font-small-medium);
}

.footnote__terms-privacy {
    display: flex;
    gap: 24px;
}

.terms::after {
    content: "•";
    margin-left: 10px;
    position: absolute;
}