.footer__platforms-apps {
    font: var(--font-body-medium);

    display: flex;
    flex-direction: column;
    gap: 53px;
}

.footer__platforms {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.footer-platforms__list {
    display: flex;
    justify-content: space-between
}

.footer__apps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-apps__list {
    display: flex;
    gap: 20px;
}