/*.first-block {*/
/*    height: 222px;*/
/*    margin-right: 118px;*/
/*    width: 275px;*/
/*    height: 222px;*/
/*}*/

.first-block__list {
    /*width: 275px;*/
    height: 222px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.first-block__item {
}

.first-block__item:first-of-type {
    display: flex;
    align-items: flex-end;
}

.first-block__item:last-of-type {
    height: 24px;
    width: 122px;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    height: 74px;
}

.logo__copyright {
    margin-left: 24px;
    font: var(--font-small-medium);
}
/*.first-block__copyright {*/
/*    margin-left: 24px;*/
/*    font-size: 12px;*/
/*    font-weight: 500;*/
/*    line-height: 1.6;*/
/*    color: var(--color-davys-grey);*/
/*}*/

.first-block__text {
    font: var(--font-caption-medium);
}

/*.footer-socials {*/
/*display: flex;*/
/*justify-content: space-between;*/
/*width: 122px;*/
/*height: 24px;*/
/*}*/
