.footnote__copyright {
    font: var(--font-small-medium);
    height: 19px;
}

.footnote__terms {
    font: var(--font-small-medium);
    width: 109px;
    height: 19px;
}

.footnote__terms-privacy {
    display: flex;
    justify-content: space-between
}