.page__footer {
    padding-top: 140px;
    padding-bottom: 80px;
    /*height: 618px;*/
    /*padding: 140px 140px 80px;*/
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
    color: var(--color-davys-grey);
    background-color: var(--color-white);
    border-top: 1px solid var(--color-davys-grey); /*тут както надо сделать 1.5*/
}

.footer__info {
    display: grid;
    grid-template-columns: 1fr 414px 1fr;
    align-items: start;
    position: relative;
    padding-bottom: 137px;
}

.footnote {
    height: 39px;
    border-top: 1px solid var(--color-davys-grey); /*тут както надо сделать 1.5*/
    /*display: grid;*/
    /*grid-template-rows: min-content max-content;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}