:root {
    /*color-*/
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-transparent: #00000019;
    --color-davys-grey: #4D4D4D;
    --color-pewter-blue: #81ADC8;
    --color-vermillion: #CD4631;
    --color-champagne: #F7EDE8;
    --color-alice-blue: #EDF3F7
}