.grid{
    display: grid;
}

.grid.-index{
    /*grid-template-columns: repeat(4, 267px) ;*/
    /*column-gap: 26px;*/
    /*grid-template-rows: min-content;*/
    /*row-gap: 40px;*/
}

.grid.-header{
    grid-template-columns: min-content max-content 1fr min-content;
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;
}

.grid.-footer{
    grid-template-rows: min-content min-content;
    align-items: start;
    position: relative;


    /*grid-template-columns: 1fr max-content 1fr;*/
    /*align-items: center;*/
}