.covers__list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cover {
    width: 373px;
    height: 373px;
    padding: 20px;
    border-radius: var(--border-radius-large);
    background-color: var(--color-black);
    background-repeat: no-repeat;
    background-size: 373px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.cover__socials {
    display: flex;
    gap: 10px;
}

.cover__heading {
    color: var(--color-cover-heading-text);
    font: var(--font-h2);
    line-height: 1.2;
    letter-spacing: -0.04em;

    align-self: flex-start;
}

.tesla-cover {
    background-image: url("../../../../../assets/images/covers/teslaAutopilotCover.png");
}

.confidence-cover {
    background-image: url("../../../../../assets/images/covers/selfConfidenceCover.png");
}

.mind-cover {
    background-image: url("../../../../../assets/images/covers/perplexedMindCover.png");
}

.rights-cover {
    background-image: url("../../../../../assets/images/covers/womensRightsCover.png");
}

.social-cover {
    background-image: url("../../../../../assets/images/covers/socialClassCover.png");
}