.main-section__covers {
    margin-bottom: 120px;
}

.covers__list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cover {
    --cover-size: 373px;
    width: var(--cover-size);
    height: var(--cover-size);
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    border-radius: var(--border-radius-large);
}

.cover__background {
    position: absolute;
    top: 0;
    left: 0;
}

.cover__socials {
    position: relative;
    display: flex;
    gap: 10px;
}

.cover__heading {
    position: relative;
    color: var(--color-cover-heading-text);
    font: var(--font-h2);
    line-height: 1.2;
    letter-spacing: -0.04em;
    align-self: flex-start;
}