.main-section {
    position: relative;
    background-color: var(--color-main-landing-background);
    padding-bottom: 140px;
}

.main-section::before {
    content: "";
    background-image: url("../../../../images/background/bckgMainSection.png");
    background-position: -112px -52px;
    background-repeat: no-repeat;
    background-size: 1684px;
    width: 100vw;
    /*margin-left: -444px;*/
    position: absolute;
    inset: 0;
    /*z-index: -1;*/
}