.main-section {
    padding-bottom: 140px;
    background-color: var(--color-main-landing-background);
    background-image: url("../../../../images/background/bckgMainSection.png");
    background-position: 50% -52px;
    background-repeat: no-repeat;
    background-size: 2047px 592px;
}