.main-section__heading {
    font: var(--font-body-medium);
    text-align: center;
}

.heading__text {
    padding: 40px 0;

    font: var(--font-heading);
    letter-spacing: -0.04em;
    line-height: 1;
    color: var(--color-main-heading-text);

    display: flex;
    flex-direction: column;
}

.heading__accent {
    color: var(--color-main-heading-text-accent);
}