.main-section__heading {
    text-align: center;
}

.main-section__title {
    padding-top: 40px;
    margin-bottom: 40px;
    font: var(--font-heading);
    letter-spacing: -0.04em;
    line-height: 1;
    color: var(--color-main-heading-text);
    display: flex;
    flex-direction: column;
}

.main-section__title-accent {
    color: var(--color-main-heading-text-accent);
}

.main-section__description {
    font: var(--font-body-medium);
    color: var(--color-main-section-description);
    margin-bottom: 60px;
}