.about-section__figures {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.about-section__figure {
    padding: 0 10px;
    font: var(--font-body-medium);
}

.figure-img {
    margin-bottom: 33px;
}